#  ASSIGNMENT - 03(Patterns)
## Solution/Ans  by - Pranav Rode(29)

Q1)

*     
* *    
* * *      
* * * *    
* * * * *

In [15]:
n = 5  # Change this value to adjust the number of rows

for i in range(1, n + 1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

Q2)

        * 
      * * 
    * * * 
  * * * * 
* * * * *

In [25]:
n = 5  # Change this value to adjust the number of rows

for i in range(1, n + 1):
    # Print leading spaces
    for j in range(n - i):
        print(" ", end=" ")

    # Print asterisks
    for k in range(i):
        print("*", end=" ")

    print()

        *
      * *
    * * *
  * * * *
* * * * *

Q3)
    *
   * *
  * * *
 * * * *
* * * * *

In [30]:
# number of spaces
n = 5
k = n - 1
# outer loop to handle number of rows
for i in range(0, n):
    # inner loop to handle number spaces
    # values changing acc. to requirement
    for j in range(0, k):
        print(end=" ")
        # decrementing k after each loop
    k = k - 1
    # inner loop to handle number of columns
    # values changing acc. to outer loop
    for j in range(0, i+1):
        # printing stars
        print("* ", end="")
        # ending line after each row
    print("\r")

    *
   * *
  * * *
 * * * *
* * * * *

Q4) 

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [3]:
n = 4
for i in range(n+1):
    print(" "*(i*2), "* "*((n-i)*2+1))

 * * * * * * * * *
   * * * * * * *
     * * * * *
       * * *
         *

Q5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [19]:
n = 5  # number of rows

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Q6)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [25]:
n = 5  # number of rows
num = 1
for i in range(1, n + 1):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [23]:
# Print Pascal's Triangle in Python
 
# input n
n = 5
 
for i in range(1, n+1):
    for j in range(0, n-i+1):
        print(' ', end='')
 
    # first element is always 1
    C = 1
    for j in range(1, i+1):
 
        # first value in a line is always 1
        print(' ', C, sep='', end='')
 
        # using Binomial Coefficient
        C = C * (i - j) // j

    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [11]:
# input n
n = 5
 
for i in range(1, n+1):
    for j in range(0, n-i+1):
        print('@', end='')

@@@@@@@@@@@@@@@